doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    title winterless
  body
    div.frame
      h1 You are a machine
      h2 These are your choices:
      button.eat Eat
      button.sleep Sleep
  script(src='http://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js')
  script(src='js/main.js')
